@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

.home{
    background-color:  #E5E5E5;
    min-height: 100vh;
}



.blog-card-img{
    background-color: #fff;
    border-radius: 5px;
    width: 400px;

}

.blog-card-content{
    width: 60%;
    
}

.blog-card-content > h4, p{
    font-family: Raleway;
    color: #1B4388;

}
.blog-card-content > h4{
    font-weight : 600;
}

.go-to-blog-detail-link{
    text-decoration: none;
}


.blog-card-content span{
    color: #1E90C2;
    font-weight: 400;
    transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}
.blog-card-content span:hover{
    color: #1B4388;
    font-weight : 600;
}

.read-more{
    text-decoration: none;
    color: black;
    font-family: Raleway;
    color: #1B4388;
    font-weight : 700;
    cursor: pointer;

}

@media screen and (max-width: 768px){
    .blog-card-img{
        width: 100%;
    }
    .blog-card-content{
        width: 100%;
    }
}
    

.spinner{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}