@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');


.img-container{
    position: relative;
    background-image: linear-gradient(87.25deg, rgba(27, 67, 136, 0.8) 0%, 
    rgba(30, 144, 194, 0.8) 99.91%);
    height: 50vh;
    /* background-color: aqua; */

}

.back-btn{
    cursor: pointer;
}

.arrow-icon{
    color: #fff;
    font-size: 25px;
}

.back-btn-text{
    color: #fff;
    font-size: 25px;
}

.detail-img-container{
    width: 30%;
    position: absolute;
    bottom: -50%;
    left: 35%;
    /* right: 50%; */
    background-color: #fff;
    padding: 10px;
}

.detail-text-container{
    margin-top: 200px
}

.detail-text-container > h3{
    text-align: center;
    font-family: Raleway;
    color: #1B4388;
    font-weight: 700;
}

.detail-paragraph{
    text-align:justify;
    line-height: 2;
}

@media screen and (max-width: 768px){


    .img-container{
        height: 30vh;
    }

    .detail-img-container{
        width: 80%;
        left: 0;
        right: 0;
        position: relative;
        bottom: -25%;
        margin-left: auto;
        margin-right: auto;
    }


    .detail-text-container{
        margin-top: 150px;
    }

    .detail-text-container  h3{
        font-size: 20px;
        text-align: justify;
        margin-top: 0;

    }
    .detail-paragraph{
        width: 100%;
        padding: 10px 0px !important;
    }
}
    


